<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title> ✨My portfolio - Dany✨</title>
    <link rel="stylesheet" href="/styles/css.css">
    <script src="/backend/scripts.js"></script>
</head>
<body>

<div class="body">
    <div class="el NavBar">
        <div class="Brand">
            <h1>
                <a href="index.html">Dany</a>
            </h1>
        </div>

        <div class="PagesList">
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Contact></a>
                </li>
                <li>
                    <a href="#">Prises></a>
                </li>
            </ul>
        </div>

        <div class="pagesList">
            <ul>
                <li>Home</li>
                <li>contact</li>
                <li>Prices</li>
            </ul>
        </div>
    </div>

        <div class="el LeftSideMenu">
        <p>LeftSideMenu</p>
    </div>

    <div class="el RightSideMenu">
        <p>RightSideMenu</p>
    </div>

    <div class="el PageContent">
        <div class="pageTitle">
        <h2>Try out THIS simple TodoList</h2>
    </div>

        <!-- TodoList Control -->
        <div class="controls">
                <button class="AddTodo" onclick="AddTodo2List()">Add New Todo..</button>
        </div>
        <!-- TodoList Body -->
        <div class="bodyOfTodoList">
            <input type="text" class="todoInputField">

            <ul class="myUL">
                <li>Example Todo</li>
            </ul>
        </div>
    </div>

    </div>

    <div class="el Footer">
        <p>Footer</p>
        </div>

</body>

</html>